{{template "base" .}}

{{define "content"}}
  <!-- TODO: NEW SUPPORT PAGE -->
  <main>
    <section class="py-20">
      <div class="container">
        <h1>SUPPORT PAGE</h1>
      </div>
    </section>
  </main>
{{end}}